@import url("https://fonts.googleapis.com/css?family=Inconsolata:400,200,700");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Inconsolata', monospace;
}
.header {
  background: url("../res/img/2lazy_wallpaper.jpg");
  background-position: center;
}
.header .page-title {
  font-weight: 200;
  font-size: 80px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 1px 1px #000;
}
.header .page-title-line1 {
  padding-top: 85px;
}
.header .page-title-line2 {
  padding-bottom: 85px;
}
.nav {
  background: #000;
  text-align: center;
}
.nav li {
  display: inline-block;
}
.nav a {
  display: inline-block;
  padding: 20px;
  color: #fff;
  text-decoration: none;
}
.nav a:hover {
  background-color: #3ab795;
  text-decoration: underline;
}
.main-content {
  margin: 50px auto;
  max-width: 600px;
}
.main-content p {
  line-height: 1.6;
  margin-bottom: 1.7em;
}
.footer {
  margin: 50px auto;
  max-width: 600px;
  border-top: 1px solid #444;
  padding: 20px 0;
}
.footer p {
  color: #444;
  font-size: 12px;
}
