extend default

block content
  p.
    Welcome in the most useless website you'll ever visit today. This isn't a portfolio site,
    if you're a headhunter you might directly head to my #[a(href="https://ch.linkedin.com/in/manuel-cabras-8770756b") LinkedIn Profile].
    But if you're looking for some lulz, for some brainfarts or some funny stories, bro, 
    THIS IS DA PLACE. 

  p.
    Let's introduce myself briefly, shall we? My name is Manuel, I live in a small town in 
    Switzerland, am 24 and I'm a software developer. And this is where shit hits the fun. 
    I'm a lazy dev, but not the kind of lazy you'd think, I'm REALLY lazy. Don't even bother
    asking me if I wrote tests, I probably didn't. CI? Why should I setup that? Too much work. 
  
  p.
    So just to be clear, the site is still work in progress. Cheers <3.
